main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* poderia usar o repeat(2, 1fr) */
    gap: 20PX;
    list-style: none;
}

@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}
